.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.pj-card {
  position: relative;
  width: 400px;
  margin: 10px;
}

.pj-img {
  display: block;
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.pj-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s;
}

.pj-info > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.pj-info:hover {
  opacity: 1;
}

.pj-info:hover > * {
  transform: translateY(0);
}

.pj-title {
  font-size: 2em;
  font-weight: bold;
}

.pj-desc {
  font-size: 1.25em;
  margin-top: 0.25em;
}
