.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
}

.skills-item {
  width: 80px;
}

.skills-img {
  width: 100%;
  height: auto;
}

.skills-p {
  color: black;
}
